

body{
    transition: 0.8s linear;
    background-color: var(--cor-background-primeiro);
    color: var(--cor-fonte-primeiro);
} 

.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 12vh 78vh 10vh;
    grid-template-areas: "h h" "m m" "f f";
}


header{
    background-color: var(--cor-background-primeiro);
    grid-area: h;
}


main{
    background-color: blue;
    grid-area: m;
}


footer{
    background-color: brown;
    grid-area: f;
}



