
:root{
    --cor-transparente:transparent;
    --cor-box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.4);

    /* Cores de fundo */
    --cor-background-primeiro: #ececec;
    --cor-background-segundo: #1d1d1d;

    /* Cores Fontes */
    --cor-fonte-primeiro:#fffde6;
    --cor-fonte-segundo:#080808d5;


    /* Cores Modo-Dark e shadow */
    --cor-background-modo-dark: url('/src/img/img-fundo/noite\ estrelada.jpg');


    /* Cores Hover e Borda */
    --cor-hover-border-primeiro:#ffb223;

    /* Tipos de fonte */
    --fonte-titulo: "Lugrasimo", cursive;
    --fonte-texto: "Raleway", sans-serif;
}

.dark-mode:root{
       /* Cores de fundo */
       --cor-background-primeiro: #1d1b1b;
       --cor-background-segundo:  #ececec;

       /* Cores Fontes */
       --cor-fonte-primeiro:#f5f5f5;
       --cor-fonte-segundo:#ffffffd5;

       /* Cores Modo-Dark e shadow */
       --cor-background-modo-dark: url('https://i.pinimg.com/564x/4a/a3/fe/4aa3fe89c34c7db3ae4deaa333187191.jpg');

}