.categoria{
    margin: 3% 4%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.categoria__titulo{
    font-size: 24px;
    font-weight: 700;
    font-family: var(--fonte-titulo);
    color: var(--cor-fonte-segundo);
}

.categoria__lista{
    background-color: var(--cor-background-terceiro);
    border: 1px solid var(--cor-fonte-segundo);
    border-radius: 20px;
    height: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    gap: 15px;
    box-shadow: var(--cor-box-shadow);
}

.categoria__lista li:hover{
    transform: scale(1.2);
    text-shadow: var(--cor-box-shadow);
}

.categoria__item{
    flex-grow: 1;
    flex-basis: 50;
    text-decoration: none;
    font-family: var(--fonte-texto);
    color: var(--cor-fonte-terceiro);
    font-weight: 500;
    transition: all 0.4s;
}

.categoria__item:hover{
    border-bottom: 1px solid var(--cor-hover-border-primeiro);
    border-radius: 4px;
    color: var(--cor-hover-border-segundo);
}


@media screen and (max-width:600px) {

    .categoria__lista{
    
    }
        
    }