

.wrapper {
    display: flex;
    align-items: center;
    background-image: url('/src/img/carrossel/fundo-slide-pc.png');  
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;
    
}

.slide-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;  
    
}

.slide-list {
    display: flex;
    
}

.slide-item{
    cursor: grab;
    flex-shrink: 0;
    padding: 0 10px;
    width: 100%;
   
}

.slide-content {
    border-radius: 10px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.slide-image {
    border-radius: 10px;
    width: 20%;
    height: 15rem;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 1rem;
}

.slide-description {
    background: linear-gradient(to top, #000,transparent);
    color: var(--cor-fonte-primeiro);
    position: absolute;
    padding: 10px;
    padding-bottom: 20px;
    bottom: 0;
    width: 100%;
}

.slide-description h3 {
    font-family: var(--fonte-titulo);
    font-size: 30px;
    padding-left: 4rem;
    bottom: 2rem;
}

.slide-description p {
    font-family: 'PT Sans', sans-serif;
    position: relative;
    left: 68rem;
    bottom: 38px;
}


.slide-nav-button {
    background: transparent;
    color: var(--cor-fonte-primeiro);
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    z-index: 1;
}

.slide-nav-previous {
    left: 20px;
}

.slide-nav-next {
    right: 20px;
}

.slide-controls {
    margin: 30px auto 0;
    display: none;
}




@media screen and (max-width: 768px) {

    .wrapper {
        background-image: url('/src/img/carrossel/fundo-slide-mobile.png');  
        
    }

    .slide-image {
        width: 30%;
        height: 10rem;
        object-fit: contain;
        margin-bottom: 1.5rem;
    }

    .slide-description {
        padding: 20px;
    }
    
    .slide-description h3 {
        font-size: 18px;
        padding-left: 0.5rem;
        
        
    }

    .slide-description p {
        display: none;
    }

    .slide-nav-button {
        font-size: 1rem;
    }

    
    .slide-nav-previous {
        left: 10px;
    }
    
    .slide-nav-next {
        right: 10px;
    }


}